<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640733114545-ot9kqogo95uobis8p5ndckr6h4ppe3lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640733114545-ot9kqogo95uobis8p5ndckr6h4ppe3lk</string>
	<key>API_KEY</key>
	<string>AIzaSyCqsreU1KxRCseHa7lRXKd3ijYRZ-2TY2s</string>
	<key>GCM_SENDER_ID</key>
	<string>640733114545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.LucasOubaiche.HelpOther.helpother</string>
	<key>PROJECT_ID</key>
	<string>helpo-e752d</string>
	<key>STORAGE_BUCKET</key>
	<string>helpo-e752d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640733114545:ios:5707f2cdce1be97f57b290</string>
</dict>
</plist>